<div class="col">
    <div class="card shadow-sm">
     <img [src]="Product.pictureUrl || '../../../../assets/images/default.png'" class="img-thumbnail w-100 border-bottom-0" [alt]="Product.title">
      <div class="card-body">
        <p class="card-text">
            {{Product.title }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-success">
              <span class="fas fa-basket-shopping"></span>
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary">
              <span class="fas fa-eye"></span>
            </button>
          </div>
          <small class="text-body-secondary">{{Product.price | number}}</small>
        </div>
      </div>
    </div>
  </div>