<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between ">
            <ul class="nav  mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" routerLinkActive="active" routerLint class="nav-link px-2 text-white  ">خانه</a></li>
            <li><a routerLink="/products" routerLinkActive="active" class="nav-link px-2 text-white">محصولات</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" class="nav-link px-2 text-white">تماس با ما</a></li>
            <li><a routerLink="/about" routerLinkActive="active" class="nav-link px-2 text-white">درباره ما</a></li>
            <!-- <li><a href="#" class="nav-link px-2 text-white">About</a></li> -->
            </ul>

            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form> -->

            <div class="text-end">
            <button routerLink="/login" type="button" class="btn btn-outline-light me-2">ورود</button>
            <button routerLink="/register" type="button" class="btn btn-warning">ثبت نام</button>
            </div>
         </div>
    </div>
</header>