<mat-sidenav-container>
  
  <mat-sidenav-content>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-3" *ngIf="data.count > 0">
      <ng-container *ngFor="let product of data.result">
          <app-card-shop [Product]="product"></app-card-shop>
      </ng-container>
      
    </div>
    </mat-sidenav-content>
    <mat-sidenav [opened]="showFiller"     position="end">
      <div class="w-100 px-1 mb-3">
        <section class="sticky-top">

          <div class="list-group shadow">
            <label class="list-group-item d-flex gap-3 active text-start">
              <span class="pt-1 form-checked-content">
                <strong>برند</strong>
              </span>
            </label>
            <select class="form-select rounded-bottom rounded-0">
              <option *ngFor="let brand of brands">
                <strong>{{brand.title}}</strong>
              </option>
            </select>
            <!-- <ng-container *ngFor="let brand of brands">
              <label class="list-group-item d-flex gap-3">
                <input type="checkbox" class="form-check-input flex-shrink-0" [value]="brand.id">
                <span class=" pt-1 form-checked-content">
                  <strong>{{brand.title}}</strong>
                </span>
              </label>
            </ng-container> -->
            
          </div>
        </section>
      </div>

      <!-- type -->

      <div class="w-100 px-1">
        <section class="sticky-top">

          <div class="list-group shadow">
            <label class="list-group-item d-flex gap-3 active text-start">
              <span class="pt-1 form-checked-content">
                <strong>نوع</strong>
              </span>
            </label>
            <select class="form-select rounded-bottom rounded-0">
              <option *ngFor="let type of types">
                <strong>{{type.title}}</strong>
              </option>
            </select>
            
          </div>
        </section>
      </div>
  </mat-sidenav>
</mat-sidenav-container>



<!-- <div class="album py-5 bg-body-tertiary">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3" *ngIf="data.count > 0">
    <ng-container *ngFor="let product of data.result">
        <app-card-shop [Product]="product"></app-card-shop>
    </ng-container>
    
  </div>
</div>  -->